body {
    background-color:#18191A;
    font-family: Arial;
    color: #fff799;
}

.biggerfont {
    font-family: hoyofont;
    color: #f0ff00;
    font-size: 100px;
}

.piss {
    font-family: hoyofont;
    color: #fdfffb;
}